################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAdvert/WebAdvert.UI.Web/bin/Debug/netcoreapp3.1
